<ion-modal-view class="page" id="level-modal-page">

<!-- BANK ACCOUNT BALANCE -->
<div class="widget-box" id="dashboard-bank-widget" style="left: 5px; top: 5px; right: 5px;">
  <div class="widget-box-header">bank account</div>
  <div class="widget-box-content" id="dashboard-bank-content">
    <div id="dashboard-bank-balance"><span style="font-size: 20px">$</span> {{commafy(getPlayerDollars())}}</div>
  </div>
</div>

<div id="level-modal-selected-level-container">
  <img id="level-modal-selected-level-image" src="{{selectedLevel.imageUrl}}" >
  <div id="level-modal-selected-level-economics">
    <div class="level-modal-selected-level-economics-label"><u>reward:</u></div>
    <div class="level-modal-selected-level-economics-amount"><span style="font-size: 20px;">$</span> {{commafy(selectedLevel.reward * getMultiplier(selectedLevel.mode))}}</div>
    <div class="level-modal-selected-level-economics-label"><u>cost:</u></div>
    <div class="level-modal-selected-level-economics-amount"><span style="font-size: 20px;">$</span> {{commafy(selectedLevel.reward/5)}}</div>
  </div>
  <div id="level-modal-selected-level-details">
    password length: {{selectedLevel.length}} <br>
    mode: {{selectedLevel.mode}} <br>
  </div>
</div>

<div id="level-modal-initiate-hack" ng-click="setLevel(selectedLevel)">initiate hack</div>

<div class="page-back" ng-click="hideLevelModal()">close</div>

</ion-modal-view>