<ion-modal-view id="login-modal-page">

<div class="login-modal-input-container">
<div type="text" id="login-modal-username">{{username}}</div>
</div>


<div class="login-keyboard-container">
  <div class="login-keyboard-row">
    <span class="login-keyboard-key" ng-click="hitKey('q')">q</span>
    <span class="login-keyboard-key" ng-click="hitKey('w')">w</span>
    <span class="login-keyboard-key" ng-click="hitKey('e')">e</span>
    <span class="login-keyboard-key" ng-click="hitKey('r')">r</span>
    <span class="login-keyboard-key" ng-click="hitKey('t')">t</span>
    <span class="login-keyboard-key" ng-click="hitKey('y')">y</span>
    <span class="login-keyboard-key" ng-click="hitKey('u')">u</span>
    <span class="login-keyboard-key" ng-click="hitKey('i')">i</span>
    <span class="login-keyboard-key" ng-click="hitKey('o')">o</span>
    <span class="login-keyboard-key" ng-click="hitKey('p')">p</span>
  </div>
  <div class="login-keyboard-row">
    <span class="login-keyboard-key" ng-click="hitKey('a')">a</span>
    <span class="login-keyboard-key" ng-click="hitKey('s')">s</span>
    <span class="login-keyboard-key" ng-click="hitKey('d')">d</span>
    <span class="login-keyboard-key" ng-click="hitKey('f')">f</span>
    <span class="login-keyboard-key" ng-click="hitKey('g')">g</span>
    <span class="login-keyboard-key" ng-click="hitKey('h')">h</span>
    <span class="login-keyboard-key" ng-click="hitKey('j')">j</span>
    <span class="login-keyboard-key" ng-click="hitKey('k')">k</span>
    <span class="login-keyboard-key" ng-click="hitKey('l')">l</span>
  </div>
  <div class="login-keyboard-row">
    <span class="login-keyboard-key" ng-click="hitKey('z')">z</span>
    <span class="login-keyboard-key" ng-click="hitKey('x')">x</span>
    <span class="login-keyboard-key" ng-click="hitKey('c')">c</span>
    <span class="login-keyboard-key" ng-click="hitKey('v')">v</span>
    <span class="login-keyboard-key" ng-click="hitKey('b')">b</span>
    <span class="login-keyboard-key" ng-click="hitKey('n')">n</span>
    <span class="login-keyboard-key" ng-click="hitKey('m')">m</span>
  </div>
  <div class="login-keyboard-row">
    <span class="login-keyboard-key" ng-click="hitKey('delete')">backspace</span>
    <span class="login-keyboard-key" ng-click="hitKey('enter')">enter</span>
  </div>
</div>
</ion-modal-view>