<ion-view class="page" id="dashboard-page">

<!-- HACKER PROFILE -->
<div class="widget-box" id="dashboard-profile-widget">
  <div class="widget-box-header">hacker profile</div>
  <div class="widget-box-content" id="dashboard-profile-content">
      <img id="dashboard-profile-image" src="./img/darknet-hacker.png">
      <div id="dashboard-profile-details">
        <div class="dashboard-profile-details-label"><u>codename:</u></div>
        <div class="dashboard-profile-details-info">{{getUsername()}}</div>
      </div>
  </div>
</div>

<!-- BANK ACCOUNT BALANCE -->
<div class="widget-box" id="dashboard-bank-widget">
  <div class="widget-box-header">bank account</div>
  <div class="widget-box-content" id="dashboard-bank-content">
    <div id="dashboard-bank-balance"><span style="font-size: 20px;">$</span> {{commafy(getPlayerDollars())}}</div>
  </div>
</div>

<!-- CRYPTOCOIN BALANCE -->
<div class="widget-box" id="dashboard-cryptocoin-widget">
  <div class="widget-box-header">cryptocoins</div>
  <div class="widget-box-content" id="dashboard-cryptocoin-content">
    <div id="dashboard-cryptocoin-balance">{{getPlayerCryptocoin()}}</div>
  </div>
</div>

<!-- STATISTICS -->
<div class="widget-box" id="dashboard-stats-widget">
  <div class="widget-box-header">hacker statistics</div>
  <div class="widget-box-content" id="dashboard-stats-content">
    <div class="dashboard-stats-item">
      <div class="dashboard-stats-item-number">{{getGames()}}</div>
      <div class="dashboard-stats-item-name">hacks</div>
    </div>
    <div class="dashboard-stats-item">
      <div class="dashboard-stats-item-number">{{getWins()}}</div>
      <div class="dashboard-stats-item-name">success</div>
    </div>
    <div class="dashboard-stats-item">
      <div class="dashboard-stats-item-number">{{getLosses()}}</div>
      <div class="dashboard-stats-item-name">failures</div>
    </div>
    <div class="dashboard-stats-item">
      <div class="dashboard-stats-item-number">{{getSuccessRate()}}%</div>
      <div class="dashboard-stats-item-name">success rate</div>
    </div>
  </div>
</div>

<!-- COMMAND CENTER -->
<div id="dashboard-command-center">
    <div class="dashboard-command" ng-click="goTo('level')">
      <img class="dashboard-command-image" src="./img/hack.png">
      <div class="dashboard-command-label">hack targets</div>
    </div>
    <div class="dashboard-command" ng-click="goTo('market')">
      <img class="dashboard-command-image" src="./img/market.png">
      <div class="dashboard-command-label">black market</div>
    </div>
    <div class="dashboard-command" ng-click="goTo('manual')">
      <img class="dashboard-command-image" src="./img/manual.png">
      <div class="dashboard-command-label">hacker manual</div>
    </div>
    <div class="dashboard-command" ng-click="goTo('options')">
      <img class="dashboard-command-image" src="./img/options.png">
      <div class="dashboard-command-label">options</div>
    </div>
</div>

</ion-view>