<ion-view class="page" id="dashboard-page">

<!-- HACKER PROFILE -->
<div class="widget-box" id="dashboard-profile-widget">
  <div class="widget-box-header">hacker profile</div>
  <div class="widget-box-content" id="dashboard-profile-content">
      <img id="dashboard-profile-image" src="./img/darknet-hacker.png">
      <div id="dashboard-profile-details">
        <div class="dashboard-profile-details-label"><u>codename:</u></div>
        <div class="dashboard-profile-details-info">leadpython</div>
      </div>
  </div>
</div>

<!-- BANK ACCOUNT BALANCE -->
<div class="widget-box" id="dashboard-bank-widget">
  <div class="widget-box-header">bank account</div>
  <div class="widget-box-content" id="dashboard-bank-content">
    <div id="dashboard-bank-balance">$ {{getPlayerDollars()}}.00</div>
  </div>
</div>

<!-- CRYPTOCOIN BALANCE -->
<div class="widget-box" id="dashboard-cryptocoin-widget">
  <div class="widget-box-header">cryptocoins</div>
  <div class="widget-box-content" id="dashboard-cryptocoin-content">
    <div id="dashboard-cryptocoin-balance">{{getPlayerCryptocoin()}}</div>
  </div>
</div>

<!-- TOOLBOX -->
<div class="widget-box" id="dashboard-toolbox-widget">
  <div class="widget-box-header">hacking toolbox</div>
  <div class="widget-box-content" id="dashboard-toolbox-content">
      <div id="dashboard-toolbox-column-label-container">
        <div class="dashboard-toolbox-column-label" style="flex: 1;">icon</div>
        <div class="dashboard-toolbox-column-label" style="flex: 3; border-left: 1px solid rgb(50,50,50); border-right: 1px solid rgb(50,50,50);">name/description</div>
        <div class="dashboard-toolbox-column-label" style="flex: 1;">quantity</div>
      </div>
      <ion-content id="dashboard-toolbox-tools-container">
      </ion-content>
  </div>
</div>

<!-- COMMAND CENTER -->
<div id="dashboard-command-center">
  <div style="display: flex;">
    <div class="dashboard-command" ng-click="goTo('level')">
      <img class="dashboard-command-image" src="./img/hack.png">
      <div class="dashboard-command-label">hack targets</div>
    </div>
    <div class="dashboard-command">
      <img class="dashboard-command-image" src="./img/market.png">
      <div class="dashboard-command-label">black market</div>
    </div>
  </div>
  <div style="display: flex;">
    <div class="dashboard-command">
      <img class="dashboard-command-image" src="./img/manual.png">
      <div class="dashboard-command-label">hacker manual</div>
    </div>
    <div class="dashboard-command">
      <img class="dashboard-command-image" src="./img/options.png">
      <div class="dashboard-command-label">options</div>
    </div>
  </div>
</div>

</ion-view>