<ion-view class="page">

<!-- BANK BALANCE -->
<div id="game-bank-balance-container">
  <img id="game-bank-balance-image" src="./img/account.png">
  <div id="game-bank-balance-content">
    <div id="game-bank-balance-bar-amount"><span style="font-size: 15px;">$</span> {{commafy(gameOptions.reward)}}</div>
    <div id="game-bank-balance-bar" style="width: {{getRewardLeftPercentage() + '%'}}"></div>
  </div>
</div>


<!-- TRIES WIDGET -->
<div id="game-tries-container">
  <img id="game-tries-icon" src="./img/burner.png">
  <div id="game-tries-content">
    <div class="game-tries-box" ng-repeat="box in getTryBoxes() track by $index"></div>
  </div>
</div>

<!-- TIME LIMIT -->
<div id="game-time-container" ng-if="shouldTimeLimitShow()">
  <img id="game-time-icon" src="./img/triangulate.png">
  <div id="game-time-content">
    {{gameOptions.timeLimit}}
  </div>
</div>

<!-- HISTORY LOG-->
<div id="game-history-log">
  <div class="widget-box-header">history log</div>
  <ion-content id="game-history-log-content">
    <div class="game-history-log-entry" ng-repeat="log in historyLog track by $index">
      <div class="game-history-log-guess">{{log.guess}}</div>
      <div class="game-history-log-row">
        <span class="game-clue-box" style="background-color: green;" ng-repeat="box in generateClueBoxes(log.green) track by $index">
        </span><!--
        --><span class="game-clue-box" style="background-color: yellow;" ng-repeat="box in generateClueBoxes(log.yellow) track by $index">
        </span><!--
        --><span class="game-clue-box" style="background-color: red;" ng-repeat="box in generateClueBoxes(log.red) track by $index">
        </span>
      </div>
    </div>
  </ion-content>
</div>


<!-- TOOLBELT -->
<ion-content id="game-toolbelt">
  <div class="game-toolbelt-item" ng-click="activateBurnerPhone()">
    <img class="game-toolbelt-tool-image" src="./img/burner.png">
    <div class="game-toolbelt-tool-name">burner phone</div>
    <div class="game-toolbelt-tool-quantity">{{getToolQuantity('burnerPhone')}}</div>
  </div>
  <div class="game-toolbelt-item" ng-click="activateDisruption()">
    <img class="game-toolbelt-tool-image" src="./img/disrupt.png">
    <div class="game-toolbelt-tool-name">disrupt</div>
    <div class="game-toolbelt-tool-quantity">{{getToolQuantity('disrupt')}}</div>
  </div>
  <div class="game-toolbelt-item" ng-click="activateSpeed()">
    <img class="game-toolbelt-tool-image" src="./img/speed.png">
    <div class="game-toolbelt-tool-name">speed</div>
    <div class="game-toolbelt-tool-quantity">{{getToolQuantity('speed')}}</div>
  </div>
  <div class="game-toolbelt-item" ng-click="activateKeylogger()">
    <img class="game-toolbelt-tool-image" src="./img/keylogger.png">
    <div class="game-toolbelt-tool-name">keylogger</div>
    <div class="game-toolbelt-tool-quantity">{{getToolQuantity('keylogger')}}</div>
  </div>
</ion-content>

<!-- DISRUPTED -->
<div id="game-state-disrupted" ng-if="gameState.disrupted"><img class="game-state-image" src="img/darknet.png"></div>
<!-- TIME SLOW -->
<div id="game-state-time" ng-if="gameState.slowed">time is slow</div>


<div id="game-keypad-toggle-button" ng-click="showKeypad()">
  <span class="ion-calculator" style="flex: 1; "></span>
</div>

</ion-view>