<ion-view class="page" id="levels-page">

<ion-content id="levels-page-content">
  <div ng-repeat="level in getLevels() track by $index" class="levels-level-container" style="display: flex;">
    <div class="levels-level-item">
      <div class="levels-level-name">{{$index+1}} | {{level.name}}</div>
      <img class="levels-level-image" src="{{level.imageUrl}}">
      <div class="levels-level-modes">
        <div class="levels-level-mode" ng-click="selectLevel(level, 'normal', $index)">normal mode
      <div class="ion-checkmark-circled levels-level-completed" ng-if="checkMode($index, 'normal')"></div></div>
        <div class="levels-level-mode" ng-click="selectLevel(level, 'triangulation', $index)">triangulation mode
      <div class="ion-checkmark-circled levels-level-completed" ng-if="checkMode($index, 'triangulation')"></div></div>
        <div class="levels-level-mode" ng-click="selectLevel(level, 'darknet', $index)">dark.net mode
      <div class="ion-checkmark-circled levels-level-completed" ng-if="checkMode($index, 'darknet')"></div></div>
      </div>
      <div></div>
    </div>
    <div class="level-lock" ng-if="checkLevel($index)"></div>
  </div>
</ion-content>

<div class="page-back" ng-click="goTo('dashboard')">&lt back</div>
</ion-view>