<ion-view class="page" id="market-page">

<!-- BANK ACCOUNT BALANCE -->
<div class="widget-box" id="dashboard-bank-widget" style="top: 5px;">
  <div class="widget-box-header">bank account</div>
  <div class="widget-box-content" id="dashboard-bank-content">
    <div id="dashboard-bank-balance"><span style="font-size: 20px">$</span> {{commafy(getPlayerDollars())}}</div>
  </div>
</div>

<!-- CRYPTOCOIN BALANCE -->
<div class="widget-box" id="dashboard-cryptocoin-widget" style="top: 5px;">
  <div class="widget-box-header">cryptocoins</div>
  <div class="widget-box-content" id="dashboard-cryptocoin-content">
    <div id="dashboard-cryptocoin-balance">{{getPlayerCryptocoin()}}</div>
  </div>
</div>

<ion-content id="market-product-list">

  <!-- ROW -->
  <div class="market-product-list-row">
    
    <!-- ITEM -->
    <div class="market-product-item">
      <div class="market-product-item-image"></div>
      <div class="market-product-item-price"><span style="font-size: 15px;">$</span>5,000</div>
      <div class="market-product-item-name">cryptocoin</div>
      <div class="market-product-item-description">
        asdfdsfa sfsdf asdfdf dsfsf dsadfsd
      </div>
      <div class="market-product-item-buy" ng-click="purchase('cryptocoin')">purchase</div>
    </div>
    
    <!-- ITEM -->
    <div class="market-product-item">
      <div class="market-product-item-image">
        <img style="height: 100%; width: auto; padding: 15px;" src="img/burner.png">
      </div>
      <div class="market-product-item-price">1 <span style="font-size: 15px;">cryptocoin</span></div>
      <div class="market-product-item-name">burner phone</div>
      <div class="market-product-item-description">
        asdfdsfa sfsdf asdfdf dsfsf dsadfsd
      </div>
      <div class="market-product-item-buy" ng-click="purchase('burnerPhone')">purchase</div>
    </div>

  </div>

  <!-- ROW -->
  <div class="market-product-list-row">
    
    <!-- ITEM -->
    <div class="market-product-item">
      <div class="market-product-item-image">
        <img style="height: 100%; width: auto; padding: 15px;" src="img/disrupt.png">
      </div>
      <div class="market-product-item-price">2 <span style="font-size: 15px;">cryptocoins</span></div>
      <div class="market-product-item-name">disrupt</div>
      <div class="market-product-item-description">
        asdfdsfa sfsdf asdfdf dsfsf dsadfsd
      </div>
      <div class="market-product-item-buy" ng-click="purchase('disrupt')">purchase</div>
    </div>
    
    <!-- ITEM -->
    <div class="market-product-item">
      <div class="market-product-item-image">
        <img style="height: 100%; width: auto; padding: 15px;" src="img/speed.png">
      </div>
      <div class="market-product-item-price">3 <span style="font-size: 15px;">cryptocoins</span></div>
      <div class="market-product-item-name">speed</div>
      <div class="market-product-item-description">
        asdfdsfa sfsdf asdfdf dsfsf dsadfsd
      </div>
      <div class="market-product-item-buy" ng-click="purchase('speed')">purchase</div>
    </div>

  </div>



  <!-- ROW -->
  <div class="market-product-list-row">
    
    <!-- ITEM -->
    <div class="market-product-item">
      <div class="market-product-item-image">
        <img style="height: 100%; width: auto; padding: 15px;" src="img/keylogger.png">
      </div>
      <div class="market-product-item-price">10 <span style="font-size: 15px;">cryptocoins</span></div>
      <div class="market-product-item-name">keylogger</div>
      <div class="market-product-item-description">
        asdfdsfa sfsdf asdfdf dsfsf dsadfsd
      </div>
      <div class="market-product-item-buy" ng-click="purchase('keylogger')">purchase</div>
    </div>
    
    <!-- ITEM -->
    <div class="market-product-item" style="visibility: hidden;">
      <div class="market-product-item-image"></div>
      <div class="market-product-item-price"><span style="font-size: 15px;">$</span>5000</div>
      <div class="market-product-item-name"></div>
      <div class="market-product-item-description">
        asdfdsfa sfsdf asdfdf dsfsf dsadfsd
      </div>
      <div class="market-product-item-buy">purchase</div>
    </div>

  </div>

</ion-content>

<div class="page-back" ng-click="goTo('dashboard')">&lt back</div>
</ion-view>