#dashboard-page {
  padding: 5px;
}

/* HACKER PROFILE WIDGET */
#dashboard-profile-widget {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  height: 110px;
  padding: 10px;
}
#dashboard-profile-content {
}
#dashboard-profile-image {
  padding: 10px;
  height: 75px;
  width: auto;
  border: 1px solid rgb(50,50,50);
  background-color: black;
}
#dashboard-profile-details {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 80px;
  right: 5px;
  line-height: 25px;
  padding-left: 5px;
}
.dashboard-profile-details-label {
  color: rgb(150,150,150);
  font-size: 12px;
}
.dashboard-profile-details-info {
  font-size: 25px;
  padding-left: 10px;
  border-bottom: 1px solid rgb(50,50,50);
}

/* BANK WIDGET */
#dashboard-accounts-container {
  
}
#dashboard-bank-widget {
  position: absolute;
  left: 5px;
  right: 110px;
  top: 120px;
  height: 75px;
  padding: 10px;
}
#dashboard-bank-content {
  padding: 10px;
}
#dashboard-bank-balance {
  padding-left: 5px;
  font-size: 25px;
  border-bottom: 1px solid rgb(50,50,50);
}
#dashboard-cryptocoin-widget {
  position: absolute;
  width: 100px;
  right: 5px;
  top: 120px;
  height: 75px;
  padding: 10px;
}
#dashboard-cryptocoin-content {
  padding: 10px;
}
#dashboard-cryptocoin-balance {
  padding-left: 5px;
  font-size: 25px;
  border-bottom: 1px solid rgb(50,50,50);
}

/* HACKING STATS WIDGET */
#dashboard-stats-widget {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 200px;
  bottom: 60px;
  padding: 10px;
}
#dashboard-stats-content {
  background-color: black;
  padding: 5px;
}
.dashboard-stats-item {
  position: relative;
  background-color: rgb(25,25,25);
  height: 50px;
  width: 100%;
  margin-bottom: 5px;
  display: flex;
}
.dashboard-stats-item-number {
  flex: 1;
  background-color: rgb(50,50,50);
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  padding-top: 12px;
}
.dashboard-stats-item-name {
  flex: 4;
  font-size: 20px;
  line-height: 20px;
  padding-left: 10px;
  padding-top: 15px;
}

/* COMAND CENTER */
#dashboard-command-center {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 55px;
  display: flex;
}
.dashboard-command {
  flex: 1;
  display: inline-block;
  text-align: center;
  padding: 10px;
  background-color: rgb(25,25,25);
  height: 65px;
}
.dashboard-command:active {
  background-color: rgb(100,100,100);
}
.dashboard-command-image {
  height: 25px;;
  width: auto;
}
.dashboard-command-label {
  font-size: 10px;
  line-height: 10px;
}

/* LOGIN PAGE */
#login-modal-page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(25,25,25);
  text-align: center;
}
#login-modal-username {
  background-color: black;
  border: 1px solid rgb(50,50,50);
  height: 40px;
  width: 100%;
  color: #00cc99;
  font-family: square;
  padding: 10px;
  font-size: 25px;
  text-align: left;
}
.login-modal-input-container {
  position: absolute;
  top: 25%;
  left: 20px;
  right: 20px;
}
.login-keyboard-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px;
}
.login-keyboard-row {
  position: relative;
  display: flex;
  width: 100%;
  padding: 1px;
}
.login-keyboard-key {
  flex: 1;
  margin: 1px;
  background-color: rgb(50,50,50);
  color: #00cc99;
  font-family: square;
  height: 50px;
  font-size: 20px;
}
.login-keyboard-key:active {
  background-color: #00cc99;
  color: black;
}