/* ACCOUNT WIDGET */
#game-account-widget {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgb(25,25,25);
  padding: 20px;
  height: 100px;
}
#game-account-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: auto;
  background-color: rgb(25,25,25);
  padding: 20px;
}
#game-account-login {
  position: absolute;
  left: 110px;
  right: 0px;
  top: 15px;
  bottom: 0px;
  padding: 0px;
  padding-right: 20px;
}
.game-account-label {
  font-size: 15px;
  color: rgb(150,150,150);
}
.game-account-inputs {
  height: 35px;
  width: 100%;
  background-color: black;
  color: #00cc99;
  font-size: 35px;
  padding: 10px;
  padding-left: 10px;
}

/* BANK BALANCE */
#game-bank-balance-container {
  position: absolute;
  background-color: rgb(25,25,25);
  top: 105px;
  left: 5px;
  right: 5px;
  height: 35px;
}
#game-bank-balance-image {
  position: absolute;
  margin-top: -7px;
  top: 0px;
  left: 0px;
  height: 50px;
  width: auto;
  padding: 10px;
}
#game-bank-balance-content {
  position: absolute;
  background-color: black;
  top: 5px;
  bottom: 5px;
  left: 50px;
  right: 5px;
}
#game-bank-balance-bar {
  position: absolute;
  background-color: #00cc99;
  left: 0;
  top: 0;
  bottom: 0;
}
#game-bank-balance-bar-amount {
  position: relative;
  right: 0;
  width: 100%;
  padding: 2px;
  padding-left: 10px;
  font-size: 20px;
  color: rgb(0,100,0);
  z-index: 9999;
}

/* TRIES WIDGET */
#game-tries-container {
  position: absolute;
  background-color: rgb(25,25,25);
  top: 145px;
  left: 5px;
  right: 5px;
  height: 50px;
}
#game-tries-icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: auto;
  padding: 10px;
}
#game-tries-content {
  position: absolute;
  left: 55px;
  right: 0px;
  top: 0;
  bottom: 0;
  background-color: black;
  border: 5px solid rgb(25,25,25);
  border-left: 0;
  padding: 5px;
}
.game-tries-box {
  display: inline-block;
  height: 30px;
  width: 12px;
  background-color: #00cc99;
  margin-right: 4px;
}

/* GAME DRAIN INDICATOR */
#game-drain-indicator {
  position: absolute;
  background-color: rgb(25,25,25);
  top: 105px;
  left: 5px;
  height: 35px;
  width: 50px;
  text-align: center;
}
#game-drain-image {
  height: 35px;
  padding: 5px;
}

/* TIME LIMIT */
#game-time-container {
  position: absolute;
  background-color: rgb(25,25,25);
  top: 125px;
  right: 0px;
  height: 50px;
  width: 110px;
  border: 1px solid rgb(0,150,255);
}
#game-time-icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: auto;
  padding: 10px;
}
#game-time-content {
  position: absolute;
  left: 55px;
  right: 0px;
  top: 0;
  bottom: 0;
  background-color: rgb(25,25,25);
  border: 5px solid rgb(25,25,25);
  border-left: 0;
  padding: 5px;
  font-size: 30px;
  padding: 10px;
  color: white;
}

/* HISTORY LOG */
#game-history-log {
  position: absolute;
  top: 200px;
  left: 5px;
  bottom: 5px;
  right: 110px;
  border: 2px solid rgb(25,25,25);
}
#game-history-log-content {
  position: absolute;
  top: 30px;
}
.game-history-log-entry {
  position: relative;
  margin: 2px;
  background-color: rgb(25,25,25);
  padding: 5px;
  height: 60px;
}
.game-history-log-guess {
  width: 100%;
  background-color: rgb(50,50,50);
  padding: 2px;
  padding-left: 5px;
  font-size: 25px;
  color: rgb(0,150,255);
}
.game-history-log-row {
  position: relative;
  padding: 5px;
  margin: 0;
  height: 35px;
}
.game-clue-box {
  position: relative;
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 2px;
}

/* KEYPAD */
#game-keypad {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 25px;
  padding: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 275px;
}
.game-keypad-row {
  position: relative;
  display: flex;
  flex: 1;
}
.game-keypad-key {
  position: relative;
  text-align: center;
  display: inline-block;
  flex: 1;
  font-size: 20px;
  margin: 2px;
  background-color: rgb(25,25,25);
  padding: 10px;
  color: #00cc99;
}
.game-keypad-key:active {
  background-color: rgb(0,150,255);
  color: black;
}

/* GAME TOOLBELT */
#game-toolbelt {
  background-color: rgb(0,0,0);
  position: absolute;
  left: auto;
  top: 200px;
  right: 5px;
  bottom: 55px;
  width: 100px;
  border: 2px solid rgb(25,25,25);
}
.game-toolbelt-item {
  background-color: rgb(25,25,25);
  margin: 5px;
  text-align: center;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.game-toolbelt-item:active {
  background-color: rgb(100,100,100);
}
.game-toolbelt-tool-image {
  max-width: 30px;
  margin-bottom: 2px;
}
.game-toolbelt-tool-name {
  margin-top: -8px;
  font-size: 10px;
}
.game-toolbelt-tool-quantity {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  font-size: 25px;
  color: rgb(150,150,150);
}

/* DISRUPTED */
#game-state-disrupted {
  position: absolute;
  z-index: 9999;
  font-size: 25px;
  font-weight: bold;
  color: black;
  padding: 15px;
  background-color: rgb(255,50,50);
  top: 0px;
  right: 0px;
}

/* TIME SLOWED */
#game-state-time {
  position: absolute;
  right: 0px;
  top: 100px;
  padding: 5px;
  z-index: 9999;
  color: black;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(0,100,255);

}

/* KEYPAD TOGGLE */
#game-keypad-toggle-button {
  position: absolute;
  display: flex;
  width: 100px;
  right: 5px;
  bottom: 5px;
  height: 45px;
  font-size: 35px;
  text-align: center;
  padding: 5px;
  background-color: rgb(25,25,25);
  color: #00cc99;
}
#game-keypad-toggle-button:active {
  background-color: #00cc99;
  color: black;
}

#game-keypad-modal {
  background-color: rgba(0,0,0,0);
  font-family: square;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
}

/* GAME WIN MODAL */
#game-win-modal {
  background-color: rgba(0,0,0,0);
  font-family: square;
}
#game-bank-widget {
  position: absolute;
  top: 150px;
  left: 20px;
  right: 20px;
  height: 75px;
  border: 1px solid rgb(50,50,50);
}
#game-bank-content {
  color: #00cc99;
  padding: 10px;
}
#game-drain-button {
  position: absolute;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  top: 230px;
  left: 100px;
  right: 100px;
  background-color: #00cc99;
}

/* LOSE MODAL */
#game-lose-modal-page {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
}
#game-lose-modal-locked {
  position: absolute;
  font-family: square;
  background-color: rgba(255,0,0,0.5);
  left: 50px;
  right: 50px;
  top: 150px;
  font-size: 50px;
  color: black;
  text-align: center;
  font-weight: bold;
  padding-top: 45px;
  padding-bottom: 40px;
}
#game-lose-modal-disconnect {
  position: absolute;
  top: 260px;
  font-size: 25px;
  line-height: 25px;
  font-family: square;
  text-align: center;
  left: 100px;
  right: 100px;
  height: 30px;
  padding: 2px;
  background-color: #00cc99;
}
#game-lose-modal-disconnect:active {
  background-color: black;
  color: #00cc99;
}