@font-face {
  font-family: square;
  src: url(square.ttf);
}
.page {
  background-color: black;
  font-family: square;
  color: #00cc99;
}
.page-back {
  font-size: 25px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: rgb(25,25,25);
  text-align: center;
  height: 40px;
  font-family: square;
  color: #00cc99;
}
.page-back:active {
  background-color: rgb(150,150,150);
}
.widget-box {
  border: 5px solid rgb(25,25,25);
  border-top: 0;
  background-color: rgb(25,25,25);
}
.widget-box-header {
  position: absolute;
  color: rgb(150,150,150);
  left: 0;
  right: 0;
  top: 0;
  font-size: 20px;
  padding: 5px;
  height: 30px;
  background-color: rgb(25,25,25);
  font-size: 15px;
}
.widget-box-content {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(25,25,25);
}